.vscode/**
.vscode-test/**
.gitignore
.yarnrc
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
src/**/*.ts
!src/**/*.d.ts
**/.vscode-test.*
.github/**
test/**
coverage/**
images/**
docs/**
CHANGELOG.md
README.md
LICENSE
